@model MyBlog.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Article</legend>    
    <div class="display-label">
            @Html.DisplayNameFor(model => model.Image)
        :
</div>
    <div class="display-field">
        
        <br/>
        <div class="imagedisplay">
            <img src="@Url.Content(@Model.Image)" alt="Image" width="800" height="600" />
        </div>
        
    </div>
     <div class="display-label">
         @Html.DisplayNameFor(model => model.Author)
        :
        @Html.DisplayFor(model => model.Author)
    </div>
    <br />

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
        :
        @Html.DisplayFor(model => model.Date)
    </div>
    <br />
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
        :
        @Html.DisplayFor(model => model.Title)
    </div>
    <br />
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
        :
    </div>
    <br />
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
